$smallerHugeHeader: 68px;
$hugeHeader: 128px;
$hugeHeader425: 34px;

$sizeBig: 16px;
$sizeMain: 14px;
$sizeSmall: 12px;

$subHeader375: 30px;
$header375: 34px;

$subHeaderSM: 40px;
$headerSM: 44px;

$subHeaderLG: 46px;
$headerLG: 50px;