.lines-div {
  width: 100%; }
  .lines-div img {
    position: absolute;
    bottom: 0;
    z-index: 123;
    width: 100%;
    overflow: hidden; }

footer {
  position: relative; }
  footer .inner-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 768px) {
      footer .inner-wrapper {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    footer .inner-wrapper .partners-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      @media (max-width: 576px) {
        footer .inner-wrapper .partners-wrapper {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          text-align: center; }
          footer .inner-wrapper .partners-wrapper span {
            width: 100%; } }
    @media (max-width: 576px) and (max-width: 425px) {
      footer .inner-wrapper .partners-wrapper span {
        display: none; } }
      @media (max-width: 576px) {
          footer .inner-wrapper .partners-wrapper .img-wrapper {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            width: 33%; } }
      footer .inner-wrapper .partners-wrapper span {
        color: #828282;
        font-size: 12px;
        margin-right: 30px; }
  footer .upper-part {
    padding: 15px 0;
    z-index: 1; }
  footer .lower-part {
    z-index: 1;
    background-color: #1A4EA2;
    color: white;
    padding: 50px 0 250px; }
    @media (max-width: 768px) {
      footer .lower-part {
        padding-bottom: 75px; } }
    footer .lower-part .inner-wrapper {
      position: relative;
      z-index: 1234; }
      @media (max-width: 768px) {
        footer .lower-part .inner-wrapper {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; } }
      footer .lower-part .inner-wrapper .text-wrapper {
        width: 25%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        font-weight: 600;
        font-size: 12px; }
        @media (max-width: 768px) {
          footer .lower-part .inner-wrapper .text-wrapper {
            width: 100%; } }
        footer .lower-part .inner-wrapper .text-wrapper a {
          padding: 4px 0;
          text-decoration: none;
          color: inherit; }
          footer .lower-part .inner-wrapper .text-wrapper a:hover {
            text-decoration: underline; }
      footer .lower-part .inner-wrapper .form-wrapper {
        width: 50%; }
        @media (max-width: 768px) {
          footer .lower-part .inner-wrapper .form-wrapper {
            width: 100%;
            padding-top: 25px; } }
        footer .lower-part .inner-wrapper .form-wrapper span {
          font-weight: 600;
          font-size: 12px; }
        footer .lower-part .inner-wrapper .form-wrapper form {
          padding-top: 15px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row; }
          footer .lower-part .inner-wrapper .form-wrapper form .white-outline {
            font-size: 12px; }
        footer .lower-part .inner-wrapper .form-wrapper input {
          margin-right: 25px;
          font-weight: 600;
          font-size: 12px;
          width: 100%;
          border-radius: 20px;
          border: 0;
          -webkit-box-sizing: border-box;
          /* Safari/Chrome, other WebKit */
          /* Firefox, other Gecko */
          box-sizing: border-box;
          padding: 10px 25px; }
          footer .lower-part .inner-wrapper .form-wrapper input ::-webkit-input-placeholder {
            color: #919191;
            font-size: 12px; }
          footer .lower-part .inner-wrapper .form-wrapper input ::-moz-placeholder {
            color: #919191;
            font-size: 12px; }
          footer .lower-part .inner-wrapper .form-wrapper input :-ms-input-placeholder {
            color: #919191;
            font-size: 12px; }
          footer .lower-part .inner-wrapper .form-wrapper input ::-ms-input-placeholder {
            color: #919191;
            font-size: 12px; }
          footer .lower-part .inner-wrapper .form-wrapper input ::placeholder {
            color: #919191;
            font-size: 12px; }
